* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

header {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 11px;
  padding: 24px 0;
}

header img {
  width: 43px;
  height: 52px;
}

header span {
  font-size: 32px;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  margin: 8vh 0px 8vh 0px;
}

.add-ingrediance-from {
  display: flex;
  gap: 12px;
}

.add-ingrediance-from input {
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  min-width: 150px;
  width: 400px;
  outline: none;
}
.add-ingrediance-from button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.add-ingrediance-from button::before {
    content: "+";
    margin-right: 5px;
}

.add-ingrediance-from button:hover {
    scale: 1.1;
}